@font-face {
  font-family: 'Franklin Gothic Demi Cond Regular';
  src: url('../fonts/Franklin Gothic Demi Cond Regular.ttf') format('truetype');
}
body {
  height: 100%;
  width: 100%;
  background-color: #4183b1;
}
body .pageContainer {
  height: 100%;
}
#dogs {
  height: 100%;
  width: 100%;
  text-align: center;
}
#dogs #logoutBtn {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  background-color: #105585;
  color: #fff;
  border: 0;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s;
}
#dogs #logoutBtn:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
#dogs #smallTitle {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  font-family: 'Freestyle Script';
  font-size: 2em;
  color: #ffe353;
}
#dogs .dog .dogImg {
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
  width: auto;
}
#dogs .dog .dogName {
  font-family: 'Franklin Gothic Demi Cond Regular';
  font-size: 2em;
  color: #105585;
}
#dogs .dog .iconRow {
  margin-top: 1em;
}
#dogs .dog .iconContainer {
  margin-bottom: .5em;
}
#dogs .dog .statusicon {
  position: relative;
  display: inline-block;
  height: 8em;
  width: 8em;
  border-radius: .8em;
  border-style: solid;
  border-color: #ffe353;
  border-width: 0.2em;
  background: #234D6c;
  overflow: hidden;
}
#dogs .dog .statusicon:hover .fill:after {
  bottom: 8.0em !important;
}
#dogs .dog .statusicon .fill {
  position: absolute;
  bottom: 0;
  height: 8.0em;
  width: 7.6em;
  border-radius: .6em;
  background: #105585;
}
#dogs .dog .statusicon .fill:after {
  box-shadow: inset 0px -4px 5px -2px rgba(0, 0, 0, 0.48);
  content: " ";
  position: absolute;
  display: block;
  width: 200%;
  height: 120%;
  bottom: 8.0em;
  left: -48%;
  background: #234D6c;
  border-radius: 50%;
  transform: scaleX(120%);
  transition: all ease-in-out 0.8s;
}
#dogs .dog .iconImg {
  position: relative;
  z-index: 5;
  height: 7em;
}
#dogs .dog #food img {
  position: absolute;
  left: 0.15em;
  top: 0.8em;
  height: 6.2em;
}
#dogs .dog #pee img {
  position: absolute;
  left: 2.0em;
  top: 0.6em;
  height: 6.5em;
}
#dogs .dog #poop img {
  position: absolute;
  left: 0.8em;
  top: 0.8em;
  height: 6.5em;
}
#login {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login #titleLogoBlock {
  padding-bottom: 10em;
}
#login #titleLogoBlock #logo {
  height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login #titleLogoBlock #title {
  font-family: 'Freestyle Script';
  font-size: 5em;
  color: #ffe353;
}
.animatedButton {
  display: block;
  padding-top: 2em;
}
.animatedButton .btn {
  position: relative;
  width: 10em;
  margin-bottom: 15px;
  height: 47px;
}
.animatedButton .btn .txt {
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: 'Franklin Gothic Demi Cond Regular';
  font-size: 1.3em;
}
.animatedButton .btn-3 {
  background-color: #105585;
  box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.65);
}
.animatedButton .btn-3 .round {
  background-color: #fff;
}
.animatedButton a {
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: #4183b1;
  transition: all 0.05s ease-in-out;
}
.animatedButton a:hover {
  padding-left: 48px;
  padding-right: 28px;
  color: #105585;
}
.animatedButton a:hover .txt {
  color: #105585;
}
.animatedButton a:hover .round {
  width: calc(94%);
  border-radius: 30px;
}
.animatedButton a:hover .round i {
  left: 12%;
}
.animatedButton a span {
  position: relative;
  z-index: 3;
}
.animatedButton a .round {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.animatedButton a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  transition: all 0.3s;
}