

<div id="createDog">
    <div>
        <img class="arrow leftArrow" onclick="leftarrow();" src="~/Content/arrow.png" />
        <img id="createDogLogo" src="~/Content/Logo.png" />
        <img class="arrow rightArrow" onclick="rightarrow();" style="visibility:hidden" src="~/Content/arrow.png" />
    </div>


    <div>
        <span id="nameLabel" class="label">Name</span>
        <input id="nameId" type="text" />
    </div>

    <div id="hrsSelectors">
        <div>
            <span class="label">Walk Timer</span>
            <select id="walk" class="timer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <span>hrs</span>
        </div>
        <div>
            <span class="label">Food Timer</span>
            <select id="food" class="timer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <span>hrs</span>
        </div>
        <div>
            <span class="label">Water Timer</span>
            <select id="water" class="timer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <span>hrs</span>
        </div>
        <div>
            <span class="label">Pee Timer</span>
            <select id="pee" class="timer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <span>hrs</span>
        </div>
        <div>
            <span class="label">Poop Timer</span>
            <select id="poop" class="timer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <span>hrs</span>
        </div>
    </div>
    <button id="submitBtn">Submit</button>

</div>