@model DogWalked.Models.DogPage


@{
    ViewBag.Title = "Dogs";
}


<div id="dogs">
    <span id="smallTitle">Dog Walked?</span>

    <a href="@Url.Action("Index")" id="logoutBtn" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>

    <div class="container">
        @for(int i =0; i < Model.dogs.Count; i++)
        {
            var dog = Model.dogs[i];
            dog.Page = i;
            @Html.Partial("Dog_Partial", dog)
        }

        <!--Adding Settings Page-->
        <div id="dog@(Model.dogs.Count)" style="display:none">
            @Html.Partial("CreateDog_Partial")
        </div>

    </div>

</div>
