@model DogWalked.Models.DogPage


@{
    ViewBag.Title = "Dogs";
}


<div id="dogs">
    <span id="smallTitle">Dog Walked?</span>

    <a href="@Url.Action("Index")" id="logoutBtn" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>

    <div class="container">

    </div>

</div>