<div id="login">

    <div id="titleLogoBlock">
        <img id="logo" src="~/Content/Logo.png" />
        <span id="title">Dog Walked?</span>

        <div class="animatedButton">
            <div>
                <a href="" class="btn btn-3">
                    <span class="txt">Login</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                </a>
            </div>
        </div>

    </div>

</div>



